<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap413/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap413/css/furama.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body>
<div class="row bg-primary" style="height: 70px;">
    <div class="col-md-1"></div>
    <div class="col-md-10 container center-box ">
        <a href="/" class="text-white font-weight-bold" style="font-size: 40px ;text-decoration: none">
            blog list
        </a>
    </div>
    <div class="col-md-1 center-box">
        <span class="bi bi-search btn bg-white font-weight-bold"
              data-toggle="modal" data-target="#search" style="width:300px;float: right">
        </span>
    </div>
</div>
<div>
    <table class="table table-hover table-center container" id="table">
        <thead>
        <tr>
            <th class="border-0">Id</th>
            <th class="border-0">category</th>
            <th class="border-0">content</th>
            <th class="border-0">name</th>
            <th class="border-0"> timeup</th>
            <th class="border-0 text-primary">𝔼𝕕𝕚𝕥</th>
            <th class="border-0 text-primary">𝔻𝕖𝕝𝕖𝕥𝕖</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="blog : ${blogList}">
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.category.name}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.name}"></td>
            <td th:text="${blog.timeUp}"></td>
            <td><a th:href="@{/edit/__${blog.id}__}">edit</a></td>
            <td><a th:href="@{/delete/__${blog.id}__}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="center-box m-4">
        <span>
            <a class=" btn btn-primary page m-2" th:if="${blogList.hasPrevious()}"
               th:href="@{/(page = ${blogList.number - 1}, content = ${content}, catogoryId = ${categoryId})}">Previous</a>
        </span>
    <span th:each="pageNo: ${#numbers.sequence(0,blogList.totalPages - 1)}">
            <a class=" btn btn-primary page m-2"
               th:href="@{/(page = ${pageNo}, content = ${content}, catogoryId = ${categoryId})}"
               th:text="${pageNo + 1}"></a>
        </span>
    <span>
            <a class=" btn btn-primary page m-2" th:if="${blogList.hasNext()}"
               th:href="@{/(page = ${blogList.number +1}, content = ${content}, catogoryId = ${categoryId})}">
                Next
            </a>
        </span>
</div>
<div>
    <div class="center-box w-100">
        <a href="/create" class="btn btn-primary w-25 font-weight-bold">
            𝔸𝕕𝕕 𝕟𝕖𝕨 &ensp;
            <i class="bi bi-calendar2-plus font-weight-bold" style="font-size: 30px"></i>
            <i class="ml-2 bi bi-plus-circle font-weight-bold"></i>
        </a>
    </div>
</div>
<div class="modal" id="search">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header w-100">
                <div class="w-100 center-box">
                    <form method="get" action="/"
                          class="form-inline my-2 my-lg-0 w-100 center-box">
                        <div class="p-1 bg-light rounded rounded-pill w-100 shadow-sm center-box">
                            <div class="input-group center-box w-100 space-around">
                                <select name="categoryId" class="form-control border-0 bg-light w-25 p-0">
                                    <option value="">--category--</option>
                                    <option th:each="item : ${category}" th:value="${item.id}"
                                            th:text="${item.name}"></option>
                                </select>
                                <input type="search" placeholder="Input content" aria-describedby="button-addon1"
                                       class="form-control border-0 bg-light w-25 p-0"
                                       name="content">
                                <div class="input-group-append w-25">
                                    <button id="button-addon1" type="submit" class="btn btn-link text-primary h-100 w-100 p-0">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{/bootstrap/jquery/jquery-3.5.1.min.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script th:src="@{/bootstrap/bootstrap413/js/bootstrap.bundle.min.js}"></script>
</html>