<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>edit product</h1>
<form action="/edit" method="post" th:object="${product}">
    <input th:field="*{id}" hidden>
    <label>name</label>
    <input th:field="*{name}">
    <label>price</label>
    <input th:field="*{price}">
    <label>describle</label>
    <input th:field="*{describle}">
    <label>producer</label>
    <input th:field="*{producer}">
    <button type="submit">edit</button>
</form>
</body>
</html>