<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/bootstrap/bootstrap413/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/bootstrap/bootstrap413/uyendepgai.jpeg">
    <style>
        .center-box {
            display: flex;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body>
<div class="row bg-warning  " >
    <div class="col-md-2 center-box bg-dark">
        <a href="/customer/" style="text-decoration: none">
            <p style="margin-right: 20px" class="text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                     class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </p>
        </a>
    </div>

    <div class="bg-warning center-box text-white col-md-8 " style="height: 50px">
        <h6  style="font-size: 50px; margin-top: 35px"> 🅰🅳🅳 🅽🅴🆆 🅲🆄🆂🆃🅾🅼🅴🆁</h6>
    </div>
    <div class="col-md-2 center-box bg-dark" >
<!--        <a  href="/customer/create" style="text-decoration: none">-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"-->
<!--                 class="bi bi-arrow-repeat" viewBox="0 0 16 16">-->
<!--                <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>-->
<!--                <path fill-rule="evenodd"-->
        <p class="text-dark"  style="font-size: 50px" >hih</p>
<!--                      d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>-->
<!--            </svg>-->
<!--        </a>-->
    </div>
</div>
<form action="/customer/create" method="post" th:object="${customer}" class="container">
    <div class="mb-3">
        <label class="form-label">Id Customer </label>
        <input type="text" th:field="*{id}" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input th:field="*{name}" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Date of birth</label>
        <input type="date" th:field="*{dateOfBirth}" class="form-control">
    </div>
        <div class="mb-3">
            <label class="form-label">Gender</label>
            <select th:field="*{gender}" class="form-control">
                <option th:value="null">Choose</option>
                <option th:value="1">Nữ</option>
                <option th:value="2">Nam</option>
            </select>
        </div>
<!--    <div class="mb-3">-->
<!--        <label class="form-label">Gender </label>-->
<!--        <input th:field="*{gender}" class="form-control">-->
<!--    </div>-->
    <div class="mb-3">
        <label class="form-label">Indentity </label>
        <input th:field="*{idCard}" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input th:field="*{phoneNumber}" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input th:field="*{email}" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Address</label>
        <input th:field="*{address}" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Customer type</label>
        <select th:field="*{customerType}" class="form-control">
            <option th:each="items : ${customerType}" th:value="${items.id}"
                    th:text="${items.name}">
            </option>
        </select>
    </div>

    <button type="submit" class="btn btn-dark float-right" style="color:goldenrod;border-radius: 30px;font-size: 30px; margin-top: 30px">Submit</button>
    <a href="/" class="btn btn-dark float-left" style="color:goldenrod;border-radius: 30px;font-size: 30px;margin-top: 30px"> Back Home</a>
</form>
</body>
</html>