<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>add new product</h1>
<form action="/create" method="post" th:object="${product}">
    <label>id</label>
    <input th:field="*{id}">
    <label>name</label>
    <input th:field="*{name}">
    <label>price</label>
    <input th:field="*{price}">
    <label>describle</label>
    <input th:field="*{describle}">
    <label>producer</label>
    <input th:field="*{producer}">
    <button type="submit">add new</button>
</form>
</body>
</html>